@import "../../node_modules/bootstrap/scss/bootstrap";

h1 {
  font-family: "Gaegu", cursive;
  font-size: 60px;
  color: tomato;
  margin: 50px auto;
  text-align: center;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  img {
    width: 350px;
    margin: auto;
  }

  #displayedName {
    font-family: "Gaegu", cursive;
    font-size: 50px;
    color: tomato;
    text-align: center;
  }

  #pickNameButton {
    font-family: "Fredoka", sans-serif;
    color: #252525;
    font-size: 25px;
    width: 200px;
    margin: 80px auto 40px;
    padding: 10px;
    border-radius: 10px;
    border-color: white;
  }
}
